.header {
    padding: 60px;
    text-align: center;
    background: lightcoral;
    color: white;
    font-size: 30px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    display: flex;
    margin-right: 10px;
    margin-left: 10px;
    text-align: center;
    justify-content: center;
}

.column {
    padding: 5px;
    border: 1px solid red;
    aspect-ratio: 1 / 1;
    height: 10px;
    
}